@import "../assets/css/base.css";

.banner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  display: grid;
  place-items: center;

  &.success {
    background: green;
  }

  &.error {
    background: #ad0303;
  }
}

.app {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: max-content 1fr;
  gap: 20px;
  max-width: 1400px;
  margin: 0 auto;

  main {
    display: grid;
    gap: 50px;
  }

  .image-area {

    .thumbnail {
      aspect-ratio: 16 / 9;

      img {
        object-fit: contain;
        width: 100%;
      }
    }
  }

  form.guesses {
    display: grid;
    grid-auto-flow: row;
    gap: 20px;
    justify-self: stretch;

    &:invalid {
      input[type=submit] {
        /* background: red!important; */
        cursor: not-allowed;
        opacity: 0.5;
      }  
    }

    input[type=submit] {
      background: var(--secondary);
      border: none;
      height: 50px;
      border-radius: 12px;
      padding: 0 20px;
      grid-column: 1 / -1;
      cursor: pointer;

      &:hover {
        background: hsl(from var(--secondary) h calc(s + 25) l);
      }
    }

    fieldset.radio-group {
      display: grid;
      border: none;
      margin: 0;
      padding: 0;
      grid-auto-flow: column;
      position: relative;

      &::before {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        background: var(--secondary);
        content: "";
      }

      >:first-child {
        &::after {
          position: absolute;
          content: "";
          left: 0;
          bottom: 0;
          height: 20px;
          width: 2px;
          background: var(--secondary);
        }
      }

      >:last-child {
        &::after {
          position: absolute;
          content: "";
          right: 0;
          bottom: 0;
          height: 20px;
          width: 2px;
          background: var(--secondary);
        }
      }

      label.radio-group-option {
        position: relative;
        height: 50px;
        display: grid;
        place-items: center;
        color: #fff;

        &::before {
          position: absolute;
          content: "";
          left: calc(50% - 1px);
          bottom: 0;
          height: 10px;
          width: 2px;
          background: var(--secondary);
          display: grid;
          place-items: center;
        }

        &:hover:not(&:has(input[type=radio]:checked)) {
          color: var(--secondary);
          cursor: pointer;
        }

        &:focus-within {
          outline: 3px solid #fff;
        }

        &:has(input[type=radio]:checked) {
          background: var(--secondary);
        }

        >input[type=radio] {
          position: absolute;
          inset: 0;
          opacity: 0;
          outline: none;
          margin: 0;
          cursor: pointer;
        }
      }
    }

  }

  .answer {
    font-family: CockHex, sans-serif;
    position: fixed;
    inset: 0;
    display: grid;
    gap: 20px;
    backdrop-filter: blur(20px);
    justify-items: center;
    align-content: center;

    .cokhex {
      font-family: CockHex, sans-serif;
      font-size: 70px;
      letter-spacing: 10px;
      color: #fff;
      /* text-shadow: 0 0 4px #000; */
      -webkit-text-stroke: 2px black;
    }

    &::before {
      position: absolute;
      left: 0;
      right: 0;
      top: 40%;
      bottom: 40%;
      background: var(--secondary);
      content: "";
      z-index: -1;
    }
  }

}


#alsitty {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 50px;
  transition: all 300ms ease;
  transform-origin: bottom left;
  z-index: 10;

  &:hover {
    transform: scale(3);
  }
}

.loader {
  position: relative;
  width: 85px;
  height: 50px;
  background-repeat: no-repeat;
  background-image: linear-gradient(#FFF 50px, transparent 0),
    linear-gradient(#FFF 50px, transparent 0),
    linear-gradient(#FFF 50px, transparent 0),
    linear-gradient(#FFF 50px, transparent 0),
    linear-gradient(#FFF 50px, transparent 0),
    linear-gradient(#FFF 50px, transparent 0);
  background-position: 0px center, 15px center, 30px center, 45px center, 60px center, 75px center, 90px center;
  animation: rikSpikeRoll 0.65s linear infinite alternate;
}

@keyframes rikSpikeRoll {
  0% {
    background-size: 10px 3px;
  }

  16% {
    background-size: 10px 50px, 10px 3px, 10px 3px, 10px 3px, 10px 3px, 10px 3px
  }

  33% {
    background-size: 10px 30px, 10px 50px, 10px 3px, 10px 3px, 10px 3px, 10px 3px
  }

  50% {
    background-size: 10px 10px, 10px 30px, 10px 50px, 10px 3px, 10px 3px, 10px 3px
  }

  66% {
    background-size: 10px 3px, 10px 10px, 10px 30px, 10px 50px, 10px 3px, 10px 3px
  }

  83% {
    background-size: 10px 3px, 10px 3px, 10px 10px, 10px 30px, 10px 50px, 10px 3px
  }

  100% {
    background-size: 10px 3px, 10px 3px, 10px 3px, 10px 10px, 10px 30px, 10px 50px
  }
}