@import "../assets/css/base.css";

#app {
  height: 90vh;
  display: grid;
  place-items: center;

  main {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: max-content 1fr;
    gap: 20px;
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;

    h1 {
      font-size: 140px;
      letter-spacing: 40px;
    }
  }
}

#game {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: max-content 1fr;
  gap: 20px;
  max-width: 1400px;
  margin: 0 auto;

  nav {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;

    >:first-child {
      justify-self: start;
    }

    >:last-child {
      justify-self: end;
    }
  }

  &.complete {
    .progress {
      transform: translateY(30px) scale(1.5);
    }
  }

  .progress {
    border: 2px solid rgba(from var(--secondary) r g b / 0.5);
    border-radius: 30px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    padding: 8px;
    gap: 6px;
    z-index: 10;

    >div {
      width: 30px;
      height: 30px;
      background: rgba(from var(--secondary) r g b / 0.5);
      padding: 2px;
      border-radius: 30px;
      position: relative;

      &.played {

        &::before,
        &::after {
          position: absolute;
          inset: 0;
          height: 15px;
          content: "";
          border-radius: 30px 30px 0 0;
        }

        &.year {
          &::before {
            background: var(--primary);
          }
        }

        &.month {
          &::after {
            background: var(--primary);
            transform: rotate(180deg);
            top: unset;
          }
        }

        background: #e71515;
      }

    }
  }

  main {
    display: grid;
    gap: 50px;
  }

  .image-area {

    .thumbnail {
      aspect-ratio: 16 / 9;

      img {
        object-fit: contain;
        width: 100%;
      }
    }
  }

  form.guesses {
    display: grid;
    grid-auto-flow: row;
    gap: 40px;
    justify-self: stretch;

    &:invalid {
      button[type=submit] {
        /* background: red!important; */
        cursor: not-allowed;
        opacity: 0.5;
      }
    }

    /* input[type=submit] {
      background: var(--secondary);
      border: none;
      height: 50px;
      border-radius: 12px;
      padding: 0 20px;
      grid-column: 1 / -1;
      cursor: pointer;
      justify-self: center;
      min-width: 300px;

      &:hover {
        background: hsl(from var(--secondary) h calc(s + 25) l);
      }
    } */

    fieldset.radio-group {
      display: grid;
      border: none;
      margin: 0;
      padding: 0;
      grid-auto-flow: column;
      position: relative;

      &::before {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        background: var(--secondary);
        content: "";
      }

      >:first-child {
        &::after {
          position: absolute;
          content: "";
          left: 0;
          bottom: 0;
          height: 20px;
          width: 2px;
          background: var(--secondary);
        }
      }

      >:last-child {
        &::after {
          position: absolute;
          content: "";
          right: 0;
          bottom: 0;
          height: 20px;
          width: 2px;
          background: var(--secondary);
        }
      }

      label.radio-group-option {
        position: relative;
        height: 50px;
        display: grid;
        place-items: center;
        color: #fff;

        &::before {
          position: absolute;
          content: "";
          left: calc(50% - 1px);
          bottom: 0;
          height: 10px;
          width: 2px;
          background: var(--secondary);
          display: grid;
          place-items: center;
        }

        &:hover:not(&:has(input[type=radio]:checked)) {
          color: var(--secondary);
          cursor: pointer;
        }

        &:focus-within {
          outline: 3px solid #fff;
        }

        &:has(input[type=radio]:checked) {
          background: var(--secondary);
        }

        >input[type=radio] {
          position: absolute;
          inset: 0;
          opacity: 0;
          outline: none;
          margin: 0;
          cursor: pointer;
        }
      }
    }
  }

  .answer {
    font-family: Pricedown, sans-serif;
    /* position: fixed; */
    /* inset: 0; */
    width: 100vw;
    display: grid;
    gap: 20px;
    backdrop-filter: blur(20px);
    justify-self: stretch;
    justify-items: center;
    align-content: center;
    min-height: 400px;
    background: var(--secondary);

    .chips {
      display: flex;
      gap: 20px;

      .chip {
        width: 100px;
        height: 40px;
        display: grid;
        place-items: center;
        border-radius: 40px;
        /* border: 2px solid #000; */

        &.correct {
          background: green;
        }

        &.wrong {
          background: #e71515;
        }
      }

    }

    button {
      --btn-primary: var(--primary);
      /* border: 2px solid #fff; */
    }

    .cokhex {
      font-family: Pricedown, sans-serif;
      font-size: 70px;
      letter-spacing: 10px;
      color: #fff;
      -webkit-text-stroke: 2px black;
    }
  }

  .modal {
    font-family: Pricedown, sans-serif;
    position: fixed;
    inset: 0;
    display: grid;
    gap: 20px;
    backdrop-filter: blur(20px);
    justify-items: center;
    align-content: center;

    .body {
      min-width: 60vw;
      min-height: 50vh;
      background: var(--secondary);
    }
  }

  #alsitty {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 50px;
    transition: all 300ms ease;
    transform-origin: bottom left;
    z-index: 10;

    &:hover {
      transform: scale(3);
    }
  }
}